.footer {
	background-color: #16211f;
	width: 100%;
	height: 200px;
	max-width: 100%;
	bottom: 0px;
	.footer__content {
		display: flex;
		padding: 50px;
		.footer__items {
			padding: 0 25px;
			color: white;
			list-style: none;
			font-size: 14px;
			.footer__item--title {
				color: rgb(46, 193, 172);
				padding-bottom: 10px;
				font-weight: bold;
				font-size: 16px;
			}
		}
		.footer__items li:hover {
			color:rgb(46, 193, 172);
		}
		.footer__item--socials:hover {
			color:rgb(46, 193, 172);
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 425px) {
	.footer__items {
		font-size: 8px !important;
		.footer__item--title {
			font-size: 10px !important;
		}
	}
}